<header class="mod-header">
  <div class="header-titles">
    <nav class="breadcrumb">Sistema de Accesos / Configuración</nav>

    <div class="title-container">
      <button class="btn-back" type="button" (click)="goBack()" title="Volver">
        <iconify-icon icon="lucide:arrow-left"></iconify-icon>
      </button>
      <h1>Gestión de Roles</h1>
    </div>

    <p>Administre los perfiles, estados y permisos básicos del sistema.</p>

    <div class="hero-filters">
      <div class="filter-field">
        <label for="estadoTop">Filtrar por Estado:</label>
        <div class="select-wrapper">
          <select
            id="estadoTop"
            [(ngModel)]="estado"
            (change)="estadoChange.emit(estado)"
          >
            <option value="todos">Todos los registros</option>
            <option value="activo">Solo Activos</option>
            <option value="inactivo">Solo Inactivos</option>
          </select>
          <iconify-icon
            icon="lucide:chevron-down"
            class="select-icon"
          ></iconify-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="header-actions">
    <button class="btn-create" type="button" (click)="nuevo.emit()">
      <iconify-icon icon="lucide:plus" class="btn-icon"></iconify-icon>
      <span>Nuevo Rol</span>
    </button>
  </div>
</header>
